@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model Groupon.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}
<div>
    <h1>后台管理系统<sup>2017</sup></h1>
    <div class="login" id="LoginArea" style="margin-top:50px;">
        <div class="web_qr_login" style="display: block; height: 235px;">
            <!--登录-->
            <div class="web_login">
                <div class="login-box">
                    <div class="login_form">
                        <form action="@(Url.Action("Login", "Account"))?returnUrl=@(Model.ReturnUrl)" class="loginForm" id="LoginForm" method="POST">
                            <div class="uinArea">
                                <label class="input-tips">帐号：</label>
                                <div class="inputOuter">
                                    @* ReSharper disable once AccessToStaticMemberViaDerivedType *@
                                    <input class="inputstyle" id="EmailAddressInput" maxlength="@Groupon.Users.User.MaxEmailAddressLength" placeholder="员工号" required type="text" />
                                </div>
                            </div>
                            <div class="pwdArea">
                                <label class="input-tips">密码：</label>
                                <div class="inputOuter">
                                    <input class="inputstyle" id="PasswordInput" maxlength="@Groupon.Users.User.MaxPlainPasswordLength" placeholder="8 - 16 位密码" required type="password" />
                                </div>
                            </div>
                            <div style="padding-left: 50px; margin-top: 20px;">
                                <input class="button_blue" id="LoginButton" style="width: 170px;" type="submit" value="登 录" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @{
                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
            }

            @if (loginProviders.Count > 0)
            {
                <p>@L("OrLoginWith"):</p>


                using (Html.BeginForm("ExternalLogin", "Account", method: FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                        <input type="hidden" name="provider" value="" />

                    foreach (var provider in loginProviders)
                    {
                        <a class="btn btn-default btn-sm social-login-link" title="@provider.AuthenticationType"
                           data-provider="@provider.AuthenticationType"
                           href="javascript:;">
                            <i class="fa fa-@(provider.AuthenticationType.ToLower())"></i> @provider.AuthenticationType
                        </a>
                    }
                }
            }
            <!--登录end-->
        </div>
    </div>
    <div class="jianyi">*推荐使用ie8或以上版本ie浏览器或Chrome内核浏览器访问本站</div>
    <div class="footer">
        Copyright 2016-2017 水上天科技有限公司 版权所有 <a href="#" target="_blank">辽ICP备13005806号</a>
    </div>
</div>